@model client;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap List Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h1>Clients List</h1>
        <div class="mb-3">
    <img src="@("~/clientimages/"+Model.client_image)" asp-append-version=true width="200px" height="200px">
  </div>
        <ul class="list-group">
            <li class="list-group-item"><h4>Client ID: @Model.client_id</h4></li>
            <li class="list-group-item"><h4>Client Name: @Model.client_name</h4></li>
            <li class="list-group-item"><h4>Client Number: @Model.client_number</h4></li>
            <li class="list-group-item"><h4>Client Email: @Model.client_email</h4></li>
            <li class="list-group-item"><h4>Client Password: @Model.client_password</h4></li>
            <li class="list-group-item"><h4>Client Country: @Model.client_country</h4></li>
            <li class="list-group-item"><h4>Client City: @Model.client_city</h4></li>
            <li class="list-group-item"><h4>Client gender: @Model.client_gender</h4></li>
            
           
        </ul>
        <div class="mt-3">
            <a href="@Url.Action("addclient","admin")"> <button type="button" class="btn btn-success">Add Client</button></a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
